<div class="sidebar pure-u">
        <header class="header">
            <hgroup>
                <img class="avatar" alt="{{ site.owner.name }}&#x27;s avatar" width="200" src="{{ site.url }}assets/img/{{ site.owner.avatar }}">
                <h1 class="brand-title">{{ site.name }}</h1>
                <h2 class="brand-tagline">{{ site.description }}</h2>
            </hgroup>
            <br><hr>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{{ site.url }}"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/archive/">Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ site.url }}about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://belajar.nooradiana.com/">Blog Lainnya</a>
                    </li>
                </ul>
            <br><hr>
                <a href="mailto:{{ site.owner.mail }}"><i class="sosial fa fa-envelope fa-2x"></i></a>
                <a href="https://twitter.com/{{ site.owner.twitter }}"><i class="sosial fa fa-twitter fa-2x"></i></a>
                <a href="https://facebook.com/{{ site.owner.facebook }}"><i class="sosial fa fa-facebook fa-2x"></i></a>
                <a href="https://github.com/{{ site.owner.github }}"><i class="sosial fa fa-github-alt fa-2x"></i></a>
                <a href="http://feeds.feedburner.com/nooradianadotcom"><i class="sosial fa fa-rss fa-2x"></i></a>
            </nav>
        </header>
    </div>